<!-- tab3.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Valida tu ine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Validar identificación</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-loading [isOpen]="isLoading" message="Cargando..."></ion-loading>

  <div class="welcome-message">
    <h2>Hola, {{ userData.nombre }} {{ userData.apellido1 }} {{ userData.apellido2 }}</h2>
  </div>

  <form>
    <ion-item>
      <ion-button expand="full" (click)="takePhotoFrente()">
        <fa-icon [icon]="faCamera"></fa-icon> Tomar Foto INE Frente
      </ion-button>
    </ion-item>
    <div *ngIf="croppedImage['ineFrente']">
      <h3>Imagen Recortada INE Frente</h3>
      <img [src]="croppedImage['ineFrente']" alt="Imagen Recortada INE Frente" />
    </div>

    <ion-item>
      <ion-button expand="full" (click)="takePhotoReverso()">
        <fa-icon [icon]="faCamera"></fa-icon> Tomar Foto INE Reverso
      </ion-button>
    </ion-item>
    <div *ngIf="croppedImage['ineReverso']">
      <h3>Imagen Recortada INE Reverso</h3>
      <img [src]="croppedImage['ineReverso']" alt="Imagen Recortada INE Reverso" />
    </div>

    <div class="preview-container">
      <h3>Previsualización INE</h3>
      <div class="card-container">
        <ion-card>
          <ion-card-header>
            <ion-card-title>INE Frente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img *ngIf="documentPreviews.ineFrente && !isPdf(documentPreviews.ineFrente)"
              [src]="documentPreviews.ineFrente" alt="INE Frente" />
            <embed *ngIf="isPdf(documentPreviews.ineFrente)" [src]="documentPreviews.ineFrente"
              type="application/pdf" />
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>INE Reverso</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img *ngIf="documentPreviews.ineReverso && !isPdf(documentPreviews.ineReverso)"
              [src]="documentPreviews.ineReverso" alt="INE Reverso" />
            <embed *ngIf="isPdf(documentPreviews.ineReverso)" [src]="documentPreviews.ineReverso"
              type="application/pdf" />
          </ion-card-content>
        </ion-card>
      </div>
      <ion-button expand="full" (click)="uploadINE()">
        <fa-icon [icon]="faUpload"></fa-icon> Subir INE
      </ion-button>
      <p class="response">{{ documentResponses.ineFrente || documentResponses.ineReverso | json }}</p>
    </div>
  </form>

  <div class="verification-result" *ngIf="datosIneRespuesta.Nombre">
    <h3>Resultado de la Verificación</h3>
    <div class="verification-item">
      <span>Nombre:</span>
      <span>{{ datosIneRespuesta.Nombre }}</span>
      <fa-icon
        [icon]="datosIneRespuesta.Nombre?.toUpperCase() === userData.nombre?.toUpperCase() ? faCircle : faTimesCircle"
        [ngClass]="{'valid': datosIneRespuesta.Nombre?.toUpperCase() === userData.nombre?.toUpperCase(), 'invalid': datosIneRespuesta.Nombre?.toUpperCase() !== userData.nombre?.toUpperCase()}"></fa-icon>
    </div>
    <div class="verification-item">
      <span>Apellido Paterno:</span>
      <span>{{ datosIneRespuesta.Apellido1 }}</span>
      <fa-icon
        [icon]="datosIneRespuesta.Apellido1?.toUpperCase() === userData.apellido1?.toUpperCase() ? faCircle : faTimesCircle"
        [ngClass]="{'valid': datosIneRespuesta.Apellido1?.toUpperCase() === userData.apellido1?.toUpperCase(), 'invalid': datosIneRespuesta.Apellido1?.toUpperCase() !== userData.apellido1?.toUpperCase()}"></fa-icon>
    </div>
    <div class="verification-item">
      <span>Apellido Materno:</span>
      <span>{{ datosIneRespuesta.Apellido2 }}</span>
      <fa-icon
        [icon]="datosIneRespuesta.Apellido2?.toUpperCase() === userData.apellido2?.toUpperCase() ? faCircle : faTimesCircle"
        [ngClass]="{'valid': datosIneRespuesta.Apellido2?.toUpperCase() === userData.apellido2?.toUpperCase(), 'invalid': datosIneRespuesta.Apellido2?.toUpperCase() !== userData.apellido2?.toUpperCase()}"></fa-icon>
    </div>
    @if(datosIneRespuesta.Nombre?.toUpperCase() !== userData.nombre?.toUpperCase() ||
    datosIneRespuesta.Apellido1?.toUpperCase() !== userData.apellido1?.toUpperCase() ||
    datosIneRespuesta.Apellido2?.toUpperCase() !== userData.apellido2?.toUpperCase()){
    <div class="error-message">
      INE incorrecta porfavor modifica tus datos en configuracion o sube tu ine correcta
    </div>
    }@else{
    <div class="correct">
      INE correcta
    </div>
    }


  </div>
</ion-content>

<style>
  .welcome-message {
    text-align: center;
    margin: 20px 0;
  }

  ion-item {
    margin-bottom: 16px;
  }

  .correct {
    color: green;
    font-weight: bold;
    text-align: center;
  }

  .preview-container {
    margin-top: 20px;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  ion-card {
    flex: 1 1 calc(50% - 10px);
    margin: 5px;
  }

  ion-card img,
  ion-card embed {
    width: 100%;
    height: auto;
    max-height: 200px;
  }

  ion-button {
    margin-top: 20px;
  }

  .response {
    font-size: 12px;
    color: #666;
    margin-top: 8px;
  }

  .verification-result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .verification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .verification-item span {
    flex: 1;
  }

  .valid {
    color: green;
  }

  .invalid {
    color: red;
  }

  .error-message {
    color: red;
    font-weight: bold;
    text-align: center;
  }
</style>
